html{
  margin:0;
  height:100%;
}

*{
padding:0;
margin:0;
font-family: 'Berkshire Swash', cursive;
}

/*body {
background-image: url("../image/Buildings/back.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position: center;
background-attachment: fixed;


}*/

img  {
position: absolute;
} 
