body {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

/* Start Enemy Section */
.enemy {
height: 300px;
position: absolute;
top: 60%;
}
/* End Enemy Section */

/* Start Character Section */
#defenderPhotos
{
    position: absolute;
    left: 250px;
    top: 580px;
}
/* End Character Section */
