body {
  background-image: url("../image/Background/main.jpg");
  background-size: 1380px 700px;
  /* background-size: cover; */
  /*background-position: top;*/
  /*background-attachment: fixed;*/

  background-repeat: no-repeat;
  font-family: "Berkshire Swash", cursive;
  /*color: #894C4E;*/
}
div {
  text-align: center;
  width: 40%;
  margin: auto;
}
.titleClass {
  background-color: rgb(171, 144, 124, 0.5);
  border-radius: 20px;
  margin: 40px auto;

  font-size: 50px;
  font-weight: bold;
  /* padding-left: 10px;
  padding-right: 5px; */
  width: 70%;
}
.links {
  background-color: rgb(171, 144, 124, 0.5);
  display: block;
  color: black;
  text-decoration: none;
  background-color: blur;
  font-weight: bold;
  font-size: 30px;
  width: 40%;
  margin: 20px auto;
  height: 45px;
  padding-top: 5px;
  border-radius: 10px;
}
